#s-c7fba75c-174f-4bbd-a272-508067a5dad4 > #backgroundBox {
  position: absolute;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 > #alignmentBox {
  position: relative;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Rectangle_1 {
  position: absolute;
  width: 1366.0px;
  min-height: 767.587921857404px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Rectangle_1 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 0.63;
  background-image: url('../../../images/cc6511ee-59ab-44a6-9425-649a430efaa5.jpg');
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arizonia_21.0.0_google',Arial;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arizonia_21.0.0_google',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arizonia_21.0.0_google',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arizonia_21.0.0_google',Arial;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Paragraph_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arizonia_21.0.0_google',Arial;
  font-size: 25.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Arizonia_21.0.0_google',Arial;
  font-size: 25.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arizonia_21.0.0_google',Arial;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Text_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arizonia_21.0.0_google',Arial;
  font-size: 25.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Arizonia_21.0.0_google',Arial;
  font-size: 25.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arizonia_21.0.0_google',Arial;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arizonia_21.0.0_google',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arizonia_21.0.0_google',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Paragraph_4 {
  position: absolute;
  width: 1316.0003356933598px;
  min-height: 644.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Paragraph_4 span#rtr-s-Paragraph_4_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Paragraph_4 span#rtr-s-Paragraph_4_2 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Paragraph_4 span#rtr-s-Paragraph_4_3 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Rectangle_2 {
  position: absolute;
  width: 1366.0px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.4);
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c7fba75c-174f-4bbd-a272-508067a5dad4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}